.tb-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 4px;
    transition: color .2s linear,background-color .2s linear,border .2s linear;
    color: #495060;
    background-color: #f7f7f7;
    border-color: #dddee1
}

.tb-btn>.tb-icon {
    line-height: 1
}

.tb-btn,.tb-btn:active,.tb-btn:focus {
    outline: 0
}

.tb-btn:not([disabled]):hover {
    text-decoration: none
}

.tb-btn:not([disabled]):active {
    outline: 0;
    transition: none
}

.tb-btn.disabled,.tb-btn[disabled] {
    cursor: not-allowed
}

.tb-btn.disabled>*,.tb-btn[disabled]>* {
    pointer-events: none
}

.tb-btn-large {
    padding: 6px 15px 7px;
    font-size: 14px;
    border-radius: 4px
}

.tb-btn-small {
    padding: 2px 7px;
    font-size: 12px;
    border-radius: 3px
}

.tb-btn>a:only-child {
    color: currentColor
}

.tb-btn>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn:hover {
    color: #6d7380;
    background-color: #f9f9f9;
    border-color: #e4e5e7
}

.tb-btn.active,.tb-btn:active {
    color: #454c5b;
    background-color: #ebebeb;
    border-color: #ebebeb
}

.tb-btn.disabled,.tb-btn.disabled.active,.tb-btn.disabled:active,.tb-btn.disabled:focus,.tb-btn.disabled:hover,.tb-btn[disabled],.tb-btn[disabled].active,.tb-btn[disabled]:active,.tb-btn[disabled]:focus,.tb-btn[disabled]:hover,fieldset[disabled] .tb-btn,fieldset[disabled] .tb-btn.active,fieldset[disabled] .tb-btn:active,fieldset[disabled] .tb-btn:focus,fieldset[disabled] .tb-btn:hover {
    color: #bbbec4;
    background-color: #f7f7f7;
    border-color: #dddee1
}

.tb-btn.disabled.active>a:only-child,.tb-btn.disabled:active>a:only-child,.tb-btn.disabled:focus>a:only-child,.tb-btn.disabled:hover>a:only-child,.tb-btn.disabled>a:only-child,.tb-btn[disabled].active>a:only-child,.tb-btn[disabled]:active>a:only-child,.tb-btn[disabled]:focus>a:only-child,.tb-btn[disabled]:hover>a:only-child,.tb-btn[disabled]>a:only-child,fieldset[disabled] .tb-btn.active>a:only-child,fieldset[disabled] .tb-btn:active>a:only-child,fieldset[disabled] .tb-btn:focus>a:only-child,fieldset[disabled] .tb-btn:hover>a:only-child,fieldset[disabled] .tb-btn>a:only-child {
    color: currentColor
}

.tb-btn.disabled.active>a:only-child:after,.tb-btn.disabled:active>a:only-child:after,.tb-btn.disabled:focus>a:only-child:after,.tb-btn.disabled:hover>a:only-child:after,.tb-btn.disabled>a:only-child:after,.tb-btn[disabled].active>a:only-child:after,.tb-btn[disabled]:active>a:only-child:after,.tb-btn[disabled]:focus>a:only-child:after,.tb-btn[disabled]:hover>a:only-child:after,.tb-btn[disabled]>a:only-child:after,fieldset[disabled] .tb-btn.active>a:only-child:after,fieldset[disabled] .tb-btn:active>a:only-child:after,fieldset[disabled] .tb-btn:focus>a:only-child:after,fieldset[disabled] .tb-btn:hover>a:only-child:after,fieldset[disabled] .tb-btn>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn:hover {
    color: #57a3f3;
    background-color: #fff;
    border-color: #57a3f3
}

.tb-btn:hover>a:only-child {
    color: currentColor
}

.tb-btn:hover>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn.active,.tb-btn:active {
    color: #2b85e4;
    background-color: #fff;
    border-color: #2b85e4
}

.tb-btn.active>a:only-child,.tb-btn:active>a:only-child {
    color: currentColor
}

.tb-btn.active>a:only-child:after,.tb-btn:active>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-long {
    width: 100%
}

.tb-btn>.tb-icon+span,.tb-btn>span+.tb-icon {
    margin-left: 4px
}

.tb-btn-primary {
    color: #fff;
    background-color: #2d8cf0;
    border-color: #2d8cf0
}

.tb-btn-primary>a:only-child {
    color: currentColor
}

.tb-btn-primary>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-primary:hover {
    color: #fff;
    background-color: #57a3f3;
    border-color: #57a3f3
}

.tb-btn-primary:hover>a:only-child {
    color: currentColor
}

.tb-btn-primary:hover>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-primary.active,.tb-btn-primary:active {
    color: #f2f2f2;
    background-color: #2b85e4;
    border-color: #2b85e4
}

.tb-btn-primary.active>a:only-child,.tb-btn-primary:active>a:only-child {
    color: currentColor
}

.tb-btn-primary.active>a:only-child:after,.tb-btn-primary:active>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-primary.disabled,.tb-btn-primary.disabled.active,.tb-btn-primary.disabled:active,.tb-btn-primary.disabled:focus,.tb-btn-primary.disabled:hover,.tb-btn-primary[disabled],.tb-btn-primary[disabled].active,.tb-btn-primary[disabled]:active,.tb-btn-primary[disabled]:focus,.tb-btn-primary[disabled]:hover,fieldset[disabled] .tb-btn-primary,fieldset[disabled] .tb-btn-primary.active,fieldset[disabled] .tb-btn-primary:active,fieldset[disabled] .tb-btn-primary:focus,fieldset[disabled] .tb-btn-primary:hover {
    color: #bbbec4;
    background-color: #f7f7f7;
    border-color: #dddee1
}

.tb-btn-primary.disabled.active>a:only-child,.tb-btn-primary.disabled:active>a:only-child,.tb-btn-primary.disabled:focus>a:only-child,.tb-btn-primary.disabled:hover>a:only-child,.tb-btn-primary.disabled>a:only-child,.tb-btn-primary[disabled].active>a:only-child,.tb-btn-primary[disabled]:active>a:only-child,.tb-btn-primary[disabled]:focus>a:only-child,.tb-btn-primary[disabled]:hover>a:only-child,.tb-btn-primary[disabled]>a:only-child,fieldset[disabled] .tb-btn-primary.active>a:only-child,fieldset[disabled] .tb-btn-primary:active>a:only-child,fieldset[disabled] .tb-btn-primary:focus>a:only-child,fieldset[disabled] .tb-btn-primary:hover>a:only-child,fieldset[disabled] .tb-btn-primary>a:only-child {
    color: currentColor
}

.tb-btn-primary.disabled.active>a:only-child:after,.tb-btn-primary.disabled:active>a:only-child:after,.tb-btn-primary.disabled:focus>a:only-child:after,.tb-btn-primary.disabled:hover>a:only-child:after,.tb-btn-primary.disabled>a:only-child:after,.tb-btn-primary[disabled].active>a:only-child:after,.tb-btn-primary[disabled]:active>a:only-child:after,.tb-btn-primary[disabled]:focus>a:only-child:after,.tb-btn-primary[disabled]:hover>a:only-child:after,.tb-btn-primary[disabled]>a:only-child:after,fieldset[disabled] .tb-btn-primary.active>a:only-child:after,fieldset[disabled] .tb-btn-primary:active>a:only-child:after,fieldset[disabled] .tb-btn-primary:focus>a:only-child:after,fieldset[disabled] .tb-btn-primary:hover>a:only-child:after,fieldset[disabled] .tb-btn-primary>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-primary.active,.tb-btn-primary:active,.tb-btn-primary:hover {
    color: #fff
}

.tb-btn-group:not(.tb-btn-group-vertical) .tb-btn-primary:not(:first-child):not(:last-child) {
    border-right-color: #2b85e4;
    border-left-color: #2b85e4
}

.tb-btn-group:not(.tb-btn-group-vertical) .tb-btn-primary:first-child:not(:last-child) {
    border-right-color: #2b85e4
}

.tb-btn-group:not(.tb-btn-group-vertical) .tb-btn-primary:first-child:not(:last-child)[disabled] {
    border-right-color: #dddee1
}

.tb-btn-group:not(.tb-btn-group-vertical) .tb-btn-primary+.tb-btn,.tb-btn-group:not(.tb-btn-group-vertical) .tb-btn-primary:last-child:not(:first-child) {
    border-left-color: #2b85e4
}

.tb-btn-group:not(.tb-btn-group-vertical) .tb-btn-primary+.tb-btn[disabled],.tb-btn-group:not(.tb-btn-group-vertical) .tb-btn-primary:last-child:not(:first-child)[disabled] {
    border-left-color: #dddee1
}

.tb-btn-group-vertical .tb-btn-primary:not(:first-child):not(:last-child) {
    border-top-color: #2b85e4;
    border-bottom-color: #2b85e4
}

.tb-btn-group-vertical .tb-btn-primary:first-child:not(:last-child) {
    border-bottom-color: #2b85e4
}

.tb-btn-group-vertical .tb-btn-primary:first-child:not(:last-child)[disabled] {
    border-top-color: #dddee1
}

.tb-btn-group-vertical .tb-btn-primary+.tb-btn,.tb-btn-group-vertical .tb-btn-primary:last-child:not(:first-child) {
    border-top-color: #2b85e4
}

.tb-btn-group-vertical .tb-btn-primary+.tb-btn[disabled],.tb-btn-group-vertical .tb-btn-primary:last-child:not(:first-child)[disabled] {
    border-bottom-color: #dddee1
}

.tb-btn-ghost {
    color: #495060;
    background-color: transparent;
    border-color: #dddee1
}

.tb-btn-ghost>a:only-child {
    color: currentColor
}

.tb-btn-ghost>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-ghost:hover {
    color: #6d7380;
    background-color: hsla(0,0%,100%,.2);
    border-color: #e4e5e7
}

.tb-btn-ghost.active,.tb-btn-ghost:active {
    color: #454c5b;
    background-color: rgba(0,0,0,.05);
    border-color: rgba(0,0,0,.05)
}

.tb-btn-ghost.disabled,.tb-btn-ghost.disabled.active,.tb-btn-ghost.disabled:active,.tb-btn-ghost.disabled:focus,.tb-btn-ghost.disabled:hover,.tb-btn-ghost[disabled],.tb-btn-ghost[disabled].active,.tb-btn-ghost[disabled]:active,.tb-btn-ghost[disabled]:focus,.tb-btn-ghost[disabled]:hover,fieldset[disabled] .tb-btn-ghost,fieldset[disabled] .tb-btn-ghost.active,fieldset[disabled] .tb-btn-ghost:active,fieldset[disabled] .tb-btn-ghost:focus,fieldset[disabled] .tb-btn-ghost:hover {
    color: #bbbec4;
    background-color: #f7f7f7;
    border-color: #dddee1
}

.tb-btn-ghost.disabled.active>a:only-child,.tb-btn-ghost.disabled:active>a:only-child,.tb-btn-ghost.disabled:focus>a:only-child,.tb-btn-ghost.disabled:hover>a:only-child,.tb-btn-ghost.disabled>a:only-child,.tb-btn-ghost[disabled].active>a:only-child,.tb-btn-ghost[disabled]:active>a:only-child,.tb-btn-ghost[disabled]:focus>a:only-child,.tb-btn-ghost[disabled]:hover>a:only-child,.tb-btn-ghost[disabled]>a:only-child,fieldset[disabled] .tb-btn-ghost.active>a:only-child,fieldset[disabled] .tb-btn-ghost:active>a:only-child,fieldset[disabled] .tb-btn-ghost:focus>a:only-child,fieldset[disabled] .tb-btn-ghost:hover>a:only-child,fieldset[disabled] .tb-btn-ghost>a:only-child {
    color: currentColor
}

.tb-btn-ghost.disabled.active>a:only-child:after,.tb-btn-ghost.disabled:active>a:only-child:after,.tb-btn-ghost.disabled:focus>a:only-child:after,.tb-btn-ghost.disabled:hover>a:only-child:after,.tb-btn-ghost.disabled>a:only-child:after,.tb-btn-ghost[disabled].active>a:only-child:after,.tb-btn-ghost[disabled]:active>a:only-child:after,.tb-btn-ghost[disabled]:focus>a:only-child:after,.tb-btn-ghost[disabled]:hover>a:only-child:after,.tb-btn-ghost[disabled]>a:only-child:after,fieldset[disabled] .tb-btn-ghost.active>a:only-child:after,fieldset[disabled] .tb-btn-ghost:active>a:only-child:after,fieldset[disabled] .tb-btn-ghost:focus>a:only-child:after,fieldset[disabled] .tb-btn-ghost:hover>a:only-child:after,fieldset[disabled] .tb-btn-ghost>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-ghost:hover {
    color: #57a3f3;
    background-color: transparent;
    border-color: #57a3f3
}

.tb-btn-ghost:hover>a:only-child {
    color: currentColor
}

.tb-btn-ghost:hover>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-ghost.active,.tb-btn-ghost:active {
    color: #2b85e4;
    background-color: transparent;
    border-color: #2b85e4
}

.tb-btn-ghost.active>a:only-child,.tb-btn-ghost:active>a:only-child {
    color: currentColor
}

.tb-btn-ghost.active>a:only-child:after,.tb-btn-ghost:active>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-dashed {
    color: #495060;
    background-color: transparent;
    border-color: #dddee1;
    border-style: dashed
}

.tb-btn-dashed>a:only-child {
    color: currentColor
}

.tb-btn-dashed>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-dashed:hover {
    color: #6d7380;
    background-color: hsla(0,0%,100%,.2);
    border-color: #e4e5e7
}

.tb-btn-dashed.active,.tb-btn-dashed:active {
    color: #454c5b;
    background-color: rgba(0,0,0,.05);
    border-color: rgba(0,0,0,.05)
}

.tb-btn-dashed.disabled,.tb-btn-dashed.disabled.active,.tb-btn-dashed.disabled:active,.tb-btn-dashed.disabled:focus,.tb-btn-dashed.disabled:hover,.tb-btn-dashed[disabled],.tb-btn-dashed[disabled].active,.tb-btn-dashed[disabled]:active,.tb-btn-dashed[disabled]:focus,.tb-btn-dashed[disabled]:hover,fieldset[disabled] .tb-btn-dashed,fieldset[disabled] .tb-btn-dashed.active,fieldset[disabled] .tb-btn-dashed:active,fieldset[disabled] .tb-btn-dashed:focus,fieldset[disabled] .tb-btn-dashed:hover {
    color: #bbbec4;
    background-color: #f7f7f7;
    border-color: #dddee1
}

.tb-btn-dashed.disabled.active>a:only-child,.tb-btn-dashed.disabled:active>a:only-child,.tb-btn-dashed.disabled:focus>a:only-child,.tb-btn-dashed.disabled:hover>a:only-child,.tb-btn-dashed.disabled>a:only-child,.tb-btn-dashed[disabled].active>a:only-child,.tb-btn-dashed[disabled]:active>a:only-child,.tb-btn-dashed[disabled]:focus>a:only-child,.tb-btn-dashed[disabled]:hover>a:only-child,.tb-btn-dashed[disabled]>a:only-child,fieldset[disabled] .tb-btn-dashed.active>a:only-child,fieldset[disabled] .tb-btn-dashed:active>a:only-child,fieldset[disabled] .tb-btn-dashed:focus>a:only-child,fieldset[disabled] .tb-btn-dashed:hover>a:only-child,fieldset[disabled] .tb-btn-dashed>a:only-child {
    color: currentColor
}

.tb-btn-dashed.disabled.active>a:only-child:after,.tb-btn-dashed.disabled:active>a:only-child:after,.tb-btn-dashed.disabled:focus>a:only-child:after,.tb-btn-dashed.disabled:hover>a:only-child:after,.tb-btn-dashed.disabled>a:only-child:after,.tb-btn-dashed[disabled].active>a:only-child:after,.tb-btn-dashed[disabled]:active>a:only-child:after,.tb-btn-dashed[disabled]:focus>a:only-child:after,.tb-btn-dashed[disabled]:hover>a:only-child:after,.tb-btn-dashed[disabled]>a:only-child:after,fieldset[disabled] .tb-btn-dashed.active>a:only-child:after,fieldset[disabled] .tb-btn-dashed:active>a:only-child:after,fieldset[disabled] .tb-btn-dashed:focus>a:only-child:after,fieldset[disabled] .tb-btn-dashed:hover>a:only-child:after,fieldset[disabled] .tb-btn-dashed>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-dashed:hover {
    color: #57a3f3;
    background-color: transparent;
    border-color: #57a3f3
}

.tb-btn-dashed:hover>a:only-child {
    color: currentColor
}

.tb-btn-dashed:hover>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-dashed.active,.tb-btn-dashed:active {
    color: #2b85e4;
    background-color: transparent;
    border-color: #2b85e4
}

.tb-btn-dashed.active>a:only-child,.tb-btn-dashed:active>a:only-child {
    color: currentColor
}

.tb-btn-dashed.active>a:only-child:after,.tb-btn-dashed:active>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-text {
    color: #495060;
    background-color: transparent;
    border-color: transparent
}

.tb-btn-text>a:only-child {
    color: currentColor
}

.tb-btn-text>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-text:hover {
    color: #6d7380;
    background-color: hsla(0,0%,100%,.2);
    border-color: hsla(0,0%,100%,.2)
}

.tb-btn-text.active,.tb-btn-text:active {
    color: #454c5b;
    background-color: rgba(0,0,0,.05);
    border-color: rgba(0,0,0,.05)
}

.tb-btn-text.disabled,.tb-btn-text.disabled.active,.tb-btn-text.disabled:active,.tb-btn-text.disabled:focus,.tb-btn-text.disabled:hover,.tb-btn-text[disabled],.tb-btn-text[disabled].active,.tb-btn-text[disabled]:active,.tb-btn-text[disabled]:focus,.tb-btn-text[disabled]:hover,fieldset[disabled] .tb-btn-text,fieldset[disabled] .tb-btn-text.active,fieldset[disabled] .tb-btn-text:active,fieldset[disabled] .tb-btn-text:focus,fieldset[disabled] .tb-btn-text:hover {
    background-color: #f7f7f7;
    border-color: #dddee1;
    color: #bbbec4;
    background-color: transparent;
    border-color: transparent
}

.tb-btn-text.disabled.active>a:only-child,.tb-btn-text.disabled:active>a:only-child,.tb-btn-text.disabled:focus>a:only-child,.tb-btn-text.disabled:hover>a:only-child,.tb-btn-text.disabled>a:only-child,.tb-btn-text[disabled].active>a:only-child,.tb-btn-text[disabled]:active>a:only-child,.tb-btn-text[disabled]:focus>a:only-child,.tb-btn-text[disabled]:hover>a:only-child,.tb-btn-text[disabled]>a:only-child,fieldset[disabled] .tb-btn-text.active>a:only-child,fieldset[disabled] .tb-btn-text:active>a:only-child,fieldset[disabled] .tb-btn-text:focus>a:only-child,fieldset[disabled] .tb-btn-text:hover>a:only-child,fieldset[disabled] .tb-btn-text>a:only-child {
    color: currentColor
}

.tb-btn-text.disabled.active>a:only-child:after,.tb-btn-text.disabled:active>a:only-child:after,.tb-btn-text.disabled:focus>a:only-child:after,.tb-btn-text.disabled:hover>a:only-child:after,.tb-btn-text.disabled>a:only-child:after,.tb-btn-text[disabled].active>a:only-child:after,.tb-btn-text[disabled]:active>a:only-child:after,.tb-btn-text[disabled]:focus>a:only-child:after,.tb-btn-text[disabled]:hover>a:only-child:after,.tb-btn-text[disabled]>a:only-child:after,fieldset[disabled] .tb-btn-text.active>a:only-child:after,fieldset[disabled] .tb-btn-text:active>a:only-child:after,fieldset[disabled] .tb-btn-text:focus>a:only-child:after,fieldset[disabled] .tb-btn-text:hover>a:only-child:after,fieldset[disabled] .tb-btn-text>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-text:hover {
    color: #57a3f3;
    background-color: transparent;
    border-color: transparent
}

.tb-btn-text:hover>a:only-child {
    color: currentColor
}

.tb-btn-text:hover>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-text.active,.tb-btn-text:active {
    color: #2b85e4;
    background-color: transparent;
    border-color: transparent
}

.tb-btn-text.active>a:only-child,.tb-btn-text:active>a:only-child {
    color: currentColor
}

.tb-btn-text.active>a:only-child:after,.tb-btn-text:active>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-success {
    color: #fff;
    background-color: #19be6b;
    border-color: #19be6b
}

.tb-btn-success>a:only-child {
    color: currentColor
}

.tb-btn-success>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-success:hover {
    color: #fff;
    background-color: #47cb89;
    border-color: #47cb89
}

.tb-btn-success:hover>a:only-child {
    color: currentColor
}

.tb-btn-success:hover>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-success.active,.tb-btn-success:active {
    color: #f2f2f2;
    background-color: #18b566;
    border-color: #18b566
}

.tb-btn-success.active>a:only-child,.tb-btn-success:active>a:only-child {
    color: currentColor
}

.tb-btn-success.active>a:only-child:after,.tb-btn-success:active>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-success.disabled,.tb-btn-success.disabled.active,.tb-btn-success.disabled:active,.tb-btn-success.disabled:focus,.tb-btn-success.disabled:hover,.tb-btn-success[disabled],.tb-btn-success[disabled].active,.tb-btn-success[disabled]:active,.tb-btn-success[disabled]:focus,.tb-btn-success[disabled]:hover,fieldset[disabled] .tb-btn-success,fieldset[disabled] .tb-btn-success.active,fieldset[disabled] .tb-btn-success:active,fieldset[disabled] .tb-btn-success:focus,fieldset[disabled] .tb-btn-success:hover {
    color: #bbbec4;
    background-color: #f7f7f7;
    border-color: #dddee1
}

.tb-btn-success.disabled.active>a:only-child,.tb-btn-success.disabled:active>a:only-child,.tb-btn-success.disabled:focus>a:only-child,.tb-btn-success.disabled:hover>a:only-child,.tb-btn-success.disabled>a:only-child,.tb-btn-success[disabled].active>a:only-child,.tb-btn-success[disabled]:active>a:only-child,.tb-btn-success[disabled]:focus>a:only-child,.tb-btn-success[disabled]:hover>a:only-child,.tb-btn-success[disabled]>a:only-child,fieldset[disabled] .tb-btn-success.active>a:only-child,fieldset[disabled] .tb-btn-success:active>a:only-child,fieldset[disabled] .tb-btn-success:focus>a:only-child,fieldset[disabled] .tb-btn-success:hover>a:only-child,fieldset[disabled] .tb-btn-success>a:only-child {
    color: currentColor
}

.tb-btn-success.disabled.active>a:only-child:after,.tb-btn-success.disabled:active>a:only-child:after,.tb-btn-success.disabled:focus>a:only-child:after,.tb-btn-success.disabled:hover>a:only-child:after,.tb-btn-success.disabled>a:only-child:after,.tb-btn-success[disabled].active>a:only-child:after,.tb-btn-success[disabled]:active>a:only-child:after,.tb-btn-success[disabled]:focus>a:only-child:after,.tb-btn-success[disabled]:hover>a:only-child:after,.tb-btn-success[disabled]>a:only-child:after,fieldset[disabled] .tb-btn-success.active>a:only-child:after,fieldset[disabled] .tb-btn-success:active>a:only-child:after,fieldset[disabled] .tb-btn-success:focus>a:only-child:after,fieldset[disabled] .tb-btn-success:hover>a:only-child:after,fieldset[disabled] .tb-btn-success>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-success.active,.tb-btn-success:active,.tb-btn-success:hover {
    color: #fff
}

.tb-btn-warning {
    color: #fff;
    background-color: #f90;
    border-color: #f90
}

.tb-btn-warning>a:only-child {
    color: currentColor
}

.tb-btn-warning>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-warning:hover {
    color: #fff;
    background-color: #ffad33;
    border-color: #ffad33
}

.tb-btn-warning:hover>a:only-child {
    color: currentColor
}

.tb-btn-warning:hover>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-warning.active,.tb-btn-warning:active {
    color: #f2f2f2;
    background-color: #f29100;
    border-color: #f29100
}

.tb-btn-warning.active>a:only-child,.tb-btn-warning:active>a:only-child {
    color: currentColor
}

.tb-btn-warning.active>a:only-child:after,.tb-btn-warning:active>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-warning.disabled,.tb-btn-warning.disabled.active,.tb-btn-warning.disabled:active,.tb-btn-warning.disabled:focus,.tb-btn-warning.disabled:hover,.tb-btn-warning[disabled],.tb-btn-warning[disabled].active,.tb-btn-warning[disabled]:active,.tb-btn-warning[disabled]:focus,.tb-btn-warning[disabled]:hover,fieldset[disabled] .tb-btn-warning,fieldset[disabled] .tb-btn-warning.active,fieldset[disabled] .tb-btn-warning:active,fieldset[disabled] .tb-btn-warning:focus,fieldset[disabled] .tb-btn-warning:hover {
    color: #bbbec4;
    background-color: #f7f7f7;
    border-color: #dddee1
}

.tb-btn-warning.disabled.active>a:only-child,.tb-btn-warning.disabled:active>a:only-child,.tb-btn-warning.disabled:focus>a:only-child,.tb-btn-warning.disabled:hover>a:only-child,.tb-btn-warning.disabled>a:only-child,.tb-btn-warning[disabled].active>a:only-child,.tb-btn-warning[disabled]:active>a:only-child,.tb-btn-warning[disabled]:focus>a:only-child,.tb-btn-warning[disabled]:hover>a:only-child,.tb-btn-warning[disabled]>a:only-child,fieldset[disabled] .tb-btn-warning.active>a:only-child,fieldset[disabled] .tb-btn-warning:active>a:only-child,fieldset[disabled] .tb-btn-warning:focus>a:only-child,fieldset[disabled] .tb-btn-warning:hover>a:only-child,fieldset[disabled] .tb-btn-warning>a:only-child {
    color: currentColor
}

.tb-btn-warning.disabled.active>a:only-child:after,.tb-btn-warning.disabled:active>a:only-child:after,.tb-btn-warning.disabled:focus>a:only-child:after,.tb-btn-warning.disabled:hover>a:only-child:after,.tb-btn-warning.disabled>a:only-child:after,.tb-btn-warning[disabled].active>a:only-child:after,.tb-btn-warning[disabled]:active>a:only-child:after,.tb-btn-warning[disabled]:focus>a:only-child:after,.tb-btn-warning[disabled]:hover>a:only-child:after,.tb-btn-warning[disabled]>a:only-child:after,fieldset[disabled] .tb-btn-warning.active>a:only-child:after,fieldset[disabled] .tb-btn-warning:active>a:only-child:after,fieldset[disabled] .tb-btn-warning:focus>a:only-child:after,fieldset[disabled] .tb-btn-warning:hover>a:only-child:after,fieldset[disabled] .tb-btn-warning>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-warning.active,.tb-btn-warning:active,.tb-btn-warning:hover {
    color: #fff
}

.tb-btn-error {
    color: #fff;
    background-color: #ed3f14;
    border-color: #ed3f14
}

.tb-btn-error>a:only-child {
    color: currentColor
}

.tb-btn-error>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-error:hover {
    color: #fff;
    background-color: #f16543;
    border-color: #f16543
}

.tb-btn-error:hover>a:only-child {
    color: currentColor
}

.tb-btn-error:hover>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-error.active,.tb-btn-error:active {
    color: #f2f2f2;
    background-color: #e13c13;
    border-color: #e13c13
}

.tb-btn-error.active>a:only-child,.tb-btn-error:active>a:only-child {
    color: currentColor
}

.tb-btn-error.active>a:only-child:after,.tb-btn-error:active>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-error.disabled,.tb-btn-error.disabled.active,.tb-btn-error.disabled:active,.tb-btn-error.disabled:focus,.tb-btn-error.disabled:hover,.tb-btn-error[disabled],.tb-btn-error[disabled].active,.tb-btn-error[disabled]:active,.tb-btn-error[disabled]:focus,.tb-btn-error[disabled]:hover,fieldset[disabled] .tb-btn-error,fieldset[disabled] .tb-btn-error.active,fieldset[disabled] .tb-btn-error:active,fieldset[disabled] .tb-btn-error:focus,fieldset[disabled] .tb-btn-error:hover {
    color: #bbbec4;
    background-color: #f7f7f7;
    border-color: #dddee1
}

.tb-btn-error.disabled.active>a:only-child,.tb-btn-error.disabled:active>a:only-child,.tb-btn-error.disabled:focus>a:only-child,.tb-btn-error.disabled:hover>a:only-child,.tb-btn-error.disabled>a:only-child,.tb-btn-error[disabled].active>a:only-child,.tb-btn-error[disabled]:active>a:only-child,.tb-btn-error[disabled]:focus>a:only-child,.tb-btn-error[disabled]:hover>a:only-child,.tb-btn-error[disabled]>a:only-child,fieldset[disabled] .tb-btn-error.active>a:only-child,fieldset[disabled] .tb-btn-error:active>a:only-child,fieldset[disabled] .tb-btn-error:focus>a:only-child,fieldset[disabled] .tb-btn-error:hover>a:only-child,fieldset[disabled] .tb-btn-error>a:only-child {
    color: currentColor
}

.tb-btn-error.disabled.active>a:only-child:after,.tb-btn-error.disabled:active>a:only-child:after,.tb-btn-error.disabled:focus>a:only-child:after,.tb-btn-error.disabled:hover>a:only-child:after,.tb-btn-error.disabled>a:only-child:after,.tb-btn-error[disabled].active>a:only-child:after,.tb-btn-error[disabled]:active>a:only-child:after,.tb-btn-error[disabled]:focus>a:only-child:after,.tb-btn-error[disabled]:hover>a:only-child:after,.tb-btn-error[disabled]>a:only-child:after,fieldset[disabled] .tb-btn-error.active>a:only-child:after,fieldset[disabled] .tb-btn-error:active>a:only-child:after,fieldset[disabled] .tb-btn-error:focus>a:only-child:after,fieldset[disabled] .tb-btn-error:hover>a:only-child:after,fieldset[disabled] .tb-btn-error>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-error.active,.tb-btn-error:active,.tb-btn-error:hover {
    color: #fff
}

.tb-btn-info {
    color: #fff;
    background-color: #2db7f5;
    border-color: #2db7f5
}

.tb-btn-info>a:only-child {
    color: currentColor
}

.tb-btn-info>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-info:hover {
    color: #fff;
    background-color: #57c5f7;
    border-color: #57c5f7
}

.tb-btn-info:hover>a:only-child {
    color: currentColor
}

.tb-btn-info:hover>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-info.active,.tb-btn-info:active {
    color: #f2f2f2;
    background-color: #2baee9;
    border-color: #2baee9
}

.tb-btn-info.active>a:only-child,.tb-btn-info:active>a:only-child {
    color: currentColor
}

.tb-btn-info.active>a:only-child:after,.tb-btn-info:active>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-info.disabled,.tb-btn-info.disabled.active,.tb-btn-info.disabled:active,.tb-btn-info.disabled:focus,.tb-btn-info.disabled:hover,.tb-btn-info[disabled],.tb-btn-info[disabled].active,.tb-btn-info[disabled]:active,.tb-btn-info[disabled]:focus,.tb-btn-info[disabled]:hover,fieldset[disabled] .tb-btn-info,fieldset[disabled] .tb-btn-info.active,fieldset[disabled] .tb-btn-info:active,fieldset[disabled] .tb-btn-info:focus,fieldset[disabled] .tb-btn-info:hover {
    color: #bbbec4;
    background-color: #f7f7f7;
    border-color: #dddee1
}

.tb-btn-info.disabled.active>a:only-child,.tb-btn-info.disabled:active>a:only-child,.tb-btn-info.disabled:focus>a:only-child,.tb-btn-info.disabled:hover>a:only-child,.tb-btn-info.disabled>a:only-child,.tb-btn-info[disabled].active>a:only-child,.tb-btn-info[disabled]:active>a:only-child,.tb-btn-info[disabled]:focus>a:only-child,.tb-btn-info[disabled]:hover>a:only-child,.tb-btn-info[disabled]>a:only-child,fieldset[disabled] .tb-btn-info.active>a:only-child,fieldset[disabled] .tb-btn-info:active>a:only-child,fieldset[disabled] .tb-btn-info:focus>a:only-child,fieldset[disabled] .tb-btn-info:hover>a:only-child,fieldset[disabled] .tb-btn-info>a:only-child {
    color: currentColor
}

.tb-btn-info.disabled.active>a:only-child:after,.tb-btn-info.disabled:active>a:only-child:after,.tb-btn-info.disabled:focus>a:only-child:after,.tb-btn-info.disabled:hover>a:only-child:after,.tb-btn-info.disabled>a:only-child:after,.tb-btn-info[disabled].active>a:only-child:after,.tb-btn-info[disabled]:active>a:only-child:after,.tb-btn-info[disabled]:focus>a:only-child:after,.tb-btn-info[disabled]:hover>a:only-child:after,.tb-btn-info[disabled]>a:only-child:after,fieldset[disabled] .tb-btn-info.active>a:only-child:after,fieldset[disabled] .tb-btn-info:active>a:only-child:after,fieldset[disabled] .tb-btn-info:focus>a:only-child:after,fieldset[disabled] .tb-btn-info:hover>a:only-child:after,fieldset[disabled] .tb-btn-info>a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0
}

.tb-btn-info.active,.tb-btn-info:active,.tb-btn-info:hover {
    color: #fff
}

.tb-btn-circle,.tb-btn-circle-outline {
    border-radius: 32px
}

.tb-btn-circle-outline.tb-btn-large,.tb-btn-circle.tb-btn-large {
    border-radius: 36px
}

.tb-btn-circle-outline.tb-btn-size,.tb-btn-circle.tb-btn-size {
    border-radius: 24px
}

.tb-btn-circle-outline.tb-btn-icon-only,.tb-btn-circle.tb-btn-icon-only {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 16px;
    border-radius: 50%
}

.tb-btn-circle-outline.tb-btn-icon-only.tb-btn-large,.tb-btn-circle.tb-btn-icon-only.tb-btn-large {
    width: 36px;
    height: 36px;
    padding: 0;
    font-size: 16px;
    border-radius: 50%
}

.tb-btn-circle-outline.tb-btn-icon-only.tb-btn-small,.tb-btn-circle.tb-btn-icon-only.tb-btn-small {
    width: 24px;
    height: 24px;
    padding: 0;
    font-size: 14px;
    border-radius: 50%
}

.tb-btn:before {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background: #fff;
    opacity: .35;
    content: "";
    border-radius: inherit;
    z-index: 1;
    transition: opacity .2s;
    pointer-events: none;
    display: none
}

.tb-btn.tb-btn-loading {
    pointer-events: none;
    position: relative
}

.tb-btn.tb-btn-loading:before {
    display: block
}

.tb-btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.tb-btn-group>.tb-btn {
    position: relative;
    float: left
}

.tb-btn-group>.tb-btn.active,.tb-btn-group>.tb-btn:active,.tb-btn-group>.tb-btn:hover {
    z-index: 2
}

.tb-btn-group .tb-btn-icon-only .tb-icon {
    font-size: 14px;
    position: relative;
    top: 1px
}

.tb-btn-group-large .tb-btn-icon-only .tb-icon {
    font-size: 16px;
    top: 2px
}

.tb-btn-group-small .tb-btn-icon-only .tb-icon {
    font-size: 12px;
    top: 0
}

.tb-btn-group-circle .tb-btn {
    border-radius: 32px
}

.tb-btn-group-large.tb-btn-group-circle .tb-btn {
    border-radius: 36px
}

.tb-btn-group-large>.tb-btn {
    padding: 6px 15px 7px;
    font-size: 14px;
    border-radius: 4px
}

.tb-btn-group-small.tb-btn-group-circle .tb-btn {
    border-radius: 24px
}

.tb-btn-group-small>.tb-btn {
    padding: 2px 7px;
    font-size: 12px;
    border-radius: 3px
}

.tb-btn-group-small>.tb-btn>.tb-icon {
    font-size: 12px
}

.tb-btn+.tb-btn-group,.tb-btn-group+.tb-btn,.tb-btn-group+.tb-btn-group,.tb-btn-group .tb-btn+.tb-btn {
    margin-left: -1px
}

.tb-btn-group .tb-btn:not(:first-child):not(:last-child) {
    border-radius: 0
}

.tb-btn-group:not(.tb-btn-group-vertical)>.tb-btn:first-child {
    margin-left: 0
}

.tb-btn-group:not(.tb-btn-group-vertical)>.tb-btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.tb-btn-group:not(.tb-btn-group-vertical)>.tb-btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.tb-btn-group>.tb-btn-group {
    float: left
}

.tb-btn-group>.tb-btn-group:not(:first-child):not(:last-child)>.tb-btn {
    border-radius: 0
}

.tb-btn-group:not(.tb-btn-group-vertical)>.tb-btn-group:first-child:not(:last-child)>.tb-btn:last-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-right: 8px
}

.tb-btn-group:not(.tb-btn-group-vertical)>.tb-btn-group:last-child:not(:first-child)>.tb-btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 8px
}

.tb-btn-group-vertical {
    display: inline-block;
    vertical-align: middle
}

.tb-btn-group-vertical>.tb-btn {
    display: block;
    width: 100%;
    max-width: 100%;
    float: none
}

.tb-btn+.tb-btn-group-vertical,.tb-btn-group-vertical+.tb-btn,.tb-btn-group-vertical+.tb-btn-group-vertical,.tb-btn-group-vertical .tb-btn+.tb-btn {
    margin-top: -1px;
    margin-left: 0
}

.tb-btn-group-vertical>.tb-btn:first-child {
    margin-top: 0
}

.tb-btn-group-vertical>.tb-btn:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.tb-btn-group-vertical>.tb-btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.tb-btn-group-vertical>.tb-btn-group-vertical:first-child:not(:last-child)>.tb-btn:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 8px
}

.tb-btn-group-vertical>.tb-btn-group-vertical:last-child:not(:first-child)>.tb-btn:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 8px
}