.tb-dropdown {
    display: inline-block
}

.tb-dropdown .tb-select-dropdown {
    overflow: visible;
    max-height: none
}

.tb-dropdown .tb-dropdown {
    width: 100%
}

.tb-dropdown-rel {
    position: relative
}

.tb-dropdown-menu {
    min-width: 100px
}

.tb-dropdown-item {
    margin: 0;
    line-height: normal;
    padding: 7px 16px;
    clear: both;
    color: #495060;
    font-size: 12px!important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    transition: background .2s ease-in-out
}

.tb-dropdown-item-focus,.tb-dropdown-item:hover {
    background: #f3f3f3
}

.tb-dropdown-item-disabled {
    color: #bbbec4;
    cursor: not-allowed
}

.tb-dropdown-item-disabled:hover {
    color: #bbbec4;
    background-color: #fff;
    cursor: not-allowed
}

.tb-dropdown-item-selected,.tb-dropdown-item-selected:hover {
    color: #fff;
    background: rgba(45,140,240,.9)
}

.tb-dropdown-item-selected.tb-dropdown-item-focus {
    background: rgba(40,123,211,.91)
}

.tb-dropdown-item-divided {
    margin-top: 5px;
    border-top: 1px solid #e9eaec
}

.tb-dropdown-item-divided:before {
    content: "";
    height: 5px;
    display: block;
    margin: 0 -16px;
    background-color: #fff;
    position: relative;
    top: -7px
}

.tb-dropdown-large .tb-dropdown-item {
    padding: 7px 16px 8px;
    font-size: 14px!important
}