.tb-select2 {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    color: #495060;
    font-size: 14px;
    line-height: normal
}

.tb-select2-selection {
    display: block;
    box-sizing: border-box;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dddee1;
    transition: all .2s ease-in-out;
}
.tb-select2-dropdown {
    width: inherit;
    max-height: 200px;
    overflow: auto;
    margin: 5px 0;
    padding: 5px 0;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    position: absolute;
    z-index: 900;
}
.tb-select2-selection .tb-select2-arrow:first-of-type {
    display: none;
    cursor: pointer
}

.tb-select2-selection:hover {
    border-color: #57a3f3
}

.tb-select2-selection:hover .tb-select2-arrow:first-of-type {
    display: inline-block
}

.tb-select2-show-clear .tb-select2-selection:hover .tb-select2-arrow:nth-of-type(2) {
    display: none
}

.tb-select2-arrow {
    position: absolute;
    top: 50%;
    right: 8px;
    line-height: 1;
    margin-top: -7px;
    font-size: 14px;
    color: #80848f;
    transition: all .2s ease-in-out;
}

.tb-select2-visible .tb-select2-selection {
    border-color: #57a3f3;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(45,140,240,.2)
}

.tb-select2-visible .tb-select2-arrow:nth-of-type(2) {
    transform: rotate(180deg)
}

.tb-select2-disabled .tb-select2-selection {
    background-color: #f3f3f3;
    opacity: 1;
    cursor: not-allowed;
    color: #ccc
}

.tb-select2-disabled .tb-select2-selection:hover {
    border-color: #e4e5e7
}

.tb-select2-disabled .tb-select2-selection .tb-select2-arrow:first-of-type {
    display: none
}

.tb-select2-disabled .tb-select2-selection:hover {
    border-color: #dddee1;
    box-shadow: none
}

.tb-select2-disabled .tb-select2-selection:hover .tb-select2-arrow:nth-of-type(2) {
    display: inline-block
}

.tb-select2-single .tb-select2-selection {
    height: 32px;
    position: relative
}

.tb-select2-single .tb-select2-selection .tb-select2-placeholder {
    color: #bbbec4
}

.tb-select2-single .tb-select2-selection .tb-select2-placeholder,.tb-select2-single .tb-select2-selection .tb-select2-selected-value {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 24px
}

.tb-select2-large.tb-select2-single .tb-select2-selection {
    height: 36px
}

.tb-select2-large.tb-select2-single .tb-select2-selection .tb-select2-placeholder,.tb-select2-large.tb-select2-single .tb-select2-selection .tb-select2-selected-value {
    height: 34px;
    line-height: 34px;
    font-size: 14px
}

.tb-select2-small.tb-select2-single .tb-select2-selection {
    height: 24px;
    border-radius: 3px
}

.tb-select2-small.tb-select2-single .tb-select2-selection .tb-select2-placeholder,.tb-select2-small.tb-select2-single .tb-select2-selection .tb-select2-selected-value {
    height: 22px;
    line-height: 22px
}

.tb-select2-multiple .tb-select2-selection {
    padding: 0 24px 0 4px;
    min-height: 32px
}

.tb-select2-multiple .tb-select2-selection .tb-select2-placeholder {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #bbbec4;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 22px
}

.tb-select2-input {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 24px 0 8px;
    font-size: 12px;
    outline: 0;
    border: none;
    box-sizing: border-box;
    color: #495060;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.tb-select2-input::-moz-placeholder {
    color: #bbbec4;
    opacity: 1
}

.tb-select2-input:-ms-input-placeholder {
    color: #bbbec4
}

.tb-select2-input::-webkit-input-placeholder {
    color: #bbbec4
}

.tb-select2-single .tb-select2-input {
    /* width: 100% */
}

.tb-select2-large .tb-select2-input {
    font-size: 14px;
    height: 36px
}

.tb-select2-small .tb-select2-input {
    height: 24px
}

.tb-select2-multiple .tb-select2-input {
    height: 29px;
    line-height: 32px;
    padding: 0 0 0 4px
}

.tb-select2-not-found {
    text-align: center;
    color: #bbbec4
}

.tb-select2-not-found li:not([class^=ivu-]) {
    margin-bottom: 0
}

.tb-select2-loading {
    text-align: center;
    color: #bbbec4
}

.tb-select2-multiple .ivu-tag {
    margin: 3px 4px 2px 0
}

.tb-select2-item {
    margin: 0;
    line-height: normal;
    padding: 7px 16px;
    clear: both;
    color: #495060;
    font-size: 12px!important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    transition: background .2s ease-in-out
}

.tb-select2-item-focus,.tb-select2-item:hover {
    background: #f3f3f3
}

.tb-select2-item-disabled,.tb-select2-item-disabled:hover {
    color: #bbbec4;
    cursor: not-allowed
}

.tb-select2-item-disabled:hover {
    background-color: #fff
}

.tb-select2-item-selected,.tb-select2-item-selected:hover {
    color: #fff;
    background: rgba(45,140,240,.9)
}

.tb-select2-item-selected.tb-select2-item-focus {
    background: rgba(40,123,211,.91)
}
.tb-select2-tag {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin: 2px 4px 2px 0;
    padding: 0 8px;
    border: 1px solid #e9eaec;
    border-radius: 3px;
    background: #f7f7f7;
    font-size: 12px;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;
    cursor: pointer
}
.tb-select2-multiple .tb-select2-tag {
    margin: 3px 4px 2px 0;
}
